:root {
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --primary-text-color: #434455;
  --light-color: #f4f4fd;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --modal-window-color: #fcfcfc;
  --accent-color: #404bbf;
  --light-slate-color: #8e8f99;
  --pressed-state-color: #404bbf;
  --cornflower-color: #e7e9fc;
}

/* Блок: Базові стилі */
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-background-color);
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Блок: Медіазапити для контейнера */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Блок: Заголовок сторінки */
.page-header {
  background: var(--white-background-color);
  border-bottom: 1px solid var(--cornflower-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  padding: 0;
}

.logo-part {
  color: var(--dark-color);
}

.site-menu,
.contact-info {
  display: none;
}

.menu-toggle-label {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  line-height: 0;
  transition: visibility 250ms ease-in-out, opacity 250ms ease-in-out;
}

.menu-toggle-label.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu-toggle-icon {
  fill: var(--dark-color);
  width: 24px;
  height: 24px;
}

/* Блок: Медіазапити для заголовка */
@media (min-width: 768px) {
  .page-header {
    min-height: 72px;
    padding: 0;
  }

  .header-container {
    justify-content: flex-start;
    gap: 0;
  }

  .main-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 0;
  }

  .logo-link {
    padding: 24px 0;
    margin-right: 76px;
  }

  .site-menu {
    display: flex;
    gap: 40px;
  }

  .site-menu .menu-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link.current {
    color: var(--accent-color);
    position: relative;
  }

  .menu-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
  }

  .contact-info {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }

  .contact-list .contact-link {
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
  }

  .menu-toggle-label {
    display: none;
  }
}

@media (min-width: 1158px) {
  .header-container {
    justify-content: flex-start;
  }

  .main-nav {
    gap: 76px;
    margin-right: 0;
  }

  .contact-info {
    margin-left: auto;
  }

  .contact-list {
    flex-direction: row;
    gap: 40px;
  }

  .contact-list .contact-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .logo-link {
    margin-right: 0;
  }
}

/* Блок: Секція "Герой" */
.hero-section {
  background-color: var(--hero-background-color);
  padding: 72px 52px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-background-mobile@2x.jpg");
  }
}

.hero-title {
  max-width: 100%;
  color: var(--white-background-color);
  font-size: 30px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
}

.order-button {
  display: block;
  min-width: 169px;
  height: 56px;
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.order-button:hover,
.order-button:focus {
  background: var(--pressed-state-color);
}

/* Блок: Медіазапити для секції "Герой" */
@media (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    max-width: 768px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-background-tablet.jpg");

  }

  @media (min-resolution: 192dpi) and (max-width: 1157px),
    (min-resolution: 2dppx) and (max-width: 1157px),
    (min-device-pixel-ratio: 2) and (max-width: 1157px) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-background-tablet@2x.jpg");
    }
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }
}

@media (min-width: 1158px) {
  .hero-section {
    max-width: 1158px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-background.jpg");
  }

  @media (min-resolution: 192dpi),
    (min-resolution: 2dppx),
    (min-device-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-background-desktop@2x.jpg");
    }
  }
}

/* Блок: Секція "Особливості" */
.features-section {
  padding: 96px 0;
}

.features-icon {
  fill: #2e2f42;
  width: 64px;
  height: 64px;
}

.clock-line {
  fill: #4d5ae5;
}

.astronaut-icon {
  fill: var(--primary-brand-color);
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.features-icon-container {
  display: none;
}

.features-icon {
  width: 64px;
  height: 64px;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
  text-align: center;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/* Блок: Медіазапити для секції "Особливості" */
@media (min-width: 768px) and (max-width: 1157px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: flex-start;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-title {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: var(--light-color);
    margin-bottom: 8px;
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
}

/* Блок: Секція "Наша команда" */
.team-section {
  background: var(--light-color);
  padding: 96px 0;
}

.team-title {
  color: var(--dark-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-item {
  background-color: var(--white-background-color);
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member-content {
  padding: 32px 0;
  text-align: center;
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-state-color);
}

.social-list-icon {
  fill: var(--light-color);
}

/* Блок: Медіазапити для секції "Наша команда" */
@media (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }

  .team-item {
    width: 264px;
  }

  .team-item img {
width: 100%;
height: auto;
  }

}

@media (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

}

/* Блок: Секція "Наше Портфоліо" */
.portfolio-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  color: var(--dark-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.portfolio-item {
  width: 288px;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Блок: Медіазапити для секції "Наше Портфоліо" */
@media (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }


  .portfolio-item {
    width: 356px;
  }

  .team-item img {
    width: 100%;
    height: auto;
  }
  
}

@media (min-width: 1158px) {
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

/* Блок: Футер сторінки */
.page-footer {
  background-color: var(--dark-color);
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.footer-logo-part {
  color: var(--light-color);
}

.footer-text {
  max-width: 288px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  margin-top: 16px;
  text-align: center;
}

.footer-social-media-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-media-wrapper .social-list-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-wrapper .social-list-link:hover,
.footer-social-media-wrapper .social-list-link:focus {
  background-color: var(--success-color);
}

.footer-subscribe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-label {
  display: block;
}

.subscribe-input {
  width: 288px;
  height: 40px;
  border: 1px solid var(--white-background-color);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.6;
}

.subscribe-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
  opacity: 1;
}

.subscribe-input::placeholder {
  color: var(--white-background-color);
  opacity: 0.6;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-state-color);
}

.subscribe-icon {
  fill: var(--white-background-color);
  margin-left: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
    row-gap: 72px;
    column-gap: 24px;
    width: 768px;
    margin: 0 auto;
  }
  .footer-logo-wrapper {
    align-items: flex-start;
    width: 264px;
  }
  .footer-logo-part {
    color: var(--light-color);
  }
  .footer-text {
    max-width: 264px;
    text-align: left;
    margin-top: 16px;
  }
  .footer-social-media-wrapper {
    align-items: flex-start;
    width: 208px;
    margin-left: 24px;
  }
  .social-media-title {
    text-align: left;
  }
  .footer-subscribe-wrapper {
    align-items: flex-start;
    width: 264px;
    margin-top: 0; 
  }
  .subscribe-title {
    text-align: left;
  }
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .subscribe-input {
    width: 264px;
  }
  
  .subscribe-button {
    margin: 264;
  }
}

@media (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: flex-start;
    width: 1158px;
    margin: 0 auto;
  }

  .footer-logo-wrapper {
    align-items: flex-start;
    margin-right: 120px;
    width: auto;
  }

  .footer-social-media-wrapper {
    align-items: flex-start;
    margin-right: 80px;
    width: auto;
  }

   .footer-text {
    max-width: 264px;
  }

 .social-list {
    gap: 16px;
  }

  .footer-subscribe-wrapper {
    align-items: flex-start;
    width: auto;
  }
}

/* Блок: Мобільне меню */
.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-background-color);
  z-index: 999;
  transform: translateX(-100%); 
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 35px 40px 35px;
  opacity: 0;
  pointer-events: none; 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Стиль для відкритого мобільного меню */
.mobile-menu-container.is-open {
  transform: translateX(0); 
  opacity: 1;
  pointer-events: auto; 
}

.mobile-menu-close-label {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-label:hover,
.mobile-menu-close-label:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.mobile-menu-close-icon {
  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 8px;
  height: 8px;
  transform: scale(2.5);
  transform-origin: center;
}

.mobile-menu-close-label:hover .mobile-menu-close-icon,
.mobile-menu-close-label:focus .mobile-menu-close-icon {
  fill: var(--white-background-color);
}

.mobile-site-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 40px;
  margin-bottom: auto;
}

.mobile-menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link.current {
  color: var(--dark-color);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus,
.mobile-menu-link.current:hover,
.mobile-menu-link.current:focus {
  color: var(--primary-brand-color);
}

.mobile-contact-info {
  margin-bottom: 48px;
  font-style: normal;
  align-self: flex-start;
}

.mobile-contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 0;
}

.mobile-contact-link {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  width: 193px;
  height: 24px;
  overflow: hidden;
}

.mobile-contact-link.primary-phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-brand-color);
  width: 193px;
  height: 24px;
  overflow: hidden;
}

.mobile-contact-link.primary-phone:hover,
.mobile-contact-link.primary-phone:focus {
  color: var(--primary-brand-color);
}

.mobile-contact-link:hover,
.mobile-contact-link:focus {
  color: var(--primary-brand-color);
}

.mobile-social-list {
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  padding-left: 0;
  margin-left: 0;
  align-self: flex-start;
}

.mobile-social-list .social-list-item {
  width: 40px;
  height: 40px;
}

.mobile-social-list .social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social-list .social-list-link:hover,
.mobile-social-list .social-list-link:focus {
  background-color: var(--pressed-state-color);
}

.mobile-social-list .social-list-icon {
  fill: var(--light-color);
}

@media (min-width: 768px) {
  .mobile-menu-container,
  .menu-toggle-label {
    display: none;
  }
}

/* Блок: Стилі для модального вікна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1000;
}

/* Стиль для відкритого модального вікна */
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5); 
  width: 288px;
  height: auto;
  min-height: auto;
  background-color: var(--modal-window-color);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(20, 20, 20, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1);
}

@media (min-width: 768px) {
  .modal {
    width: 408px;
    height: auto;
    min-height: auto;
    padding: 24px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .modal-close-btn {
    top: 8px;
    right: 8px;
  }
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.modal-close-icon {
  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 8px;
  height: 8px;
  transform: scale(2.5);
  transform-origin: center;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--white-background-color);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark-color);
  margin-top: 0;
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
  position: relative;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--primary-brand-color);
  outline: none;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: var(--primary-brand-color);
}

.comment-field {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: var(--primary-brand-color);
  outline: none;
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-check {
  margin-bottom: 24px;
}

.check-text {
  display: flex;
  align-items: flex-start; 
  flex-wrap: nowrap;             
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-color);
  width: auto;         
  height: auto;
  gap: 8px;
}

.custom-checkbox {
  flex-shrink: 0;      
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.terms-text {
  flex-grow: 1; 
}

.check-input:checked + .check-text .custom-checkbox {
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
  fill: var(--light-color);
}

.privacy-link {
  color: var(--primary-brand-color);
  text-decoration: underline;
  margin-left: 0;
  white-space: nowrap;
}

.send-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
  background-color: var(--pressed-state-color);
}

.subscribe-icon {
  fill: var(--white-background-color);
  margin-left: 16px;
}

/* Блок: Медіазапити для футера */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
    justify-content: flex-start;
  }

  .footer-logo-wrapper {
    align-items: flex-start;
    width: 264px;
    margin-right: 0;
  }

  .footer-logo-part {
    color: var(--light-color);
  }

  .footer-text {
    text-align: left;
    margin-top: 16px;
  }

  .footer-social-media-wrapper {
    align-items: flex-start;
    margin-right: 0;
  }

  .social-media-title {
    text-align: left;
  }

  .footer-subscribe-wrapper {
    align-items: flex-start;
    width: 100%;
  }

  .subscribe-title {
    text-align: left;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .subscribe-input {
    width: 264px;
  }

  .subscribe-button {
    margin: 0;
  }
}

@media (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: flex-start;
  }

  .footer-logo-wrapper {
    align-items: flex-start;
    margin-right: 120px;
    width: auto;
  }

  .footer-social-media-wrapper {
    align-items: flex-start;
    margin-right: 80px;
    width: auto;
  }

  .footer-subscribe-wrapper {
    align-items: flex-start;
    width: auto;
  }
}
